<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ohmok" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name = ".GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ohmok"
        android:usesCleartextTraffic="true" >
        <activity
            android:name=".Login_activity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="oauth"
                    android:scheme="kakao9f9345bf29987da815aef9ed7df70b4e" />
            </intent-filter>
        </activity>

        <activity
            android:name=".waiting_room"
            android:exported="false" />
        <activity
            android:name=".Main_room"
            android:exported="true"
            android:label="@string/title_activity_main_room"
            android:theme="@style/Theme.Ohmok.NoActionBar" >

        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>