.AnimalShop {
  width: 100%;
  height: 100%;
  display: cover;
  flex-direction: column;
  background-image: url("../../public/images/animalshopBackground.png");
  background-size: cover;
}

.animalshopBackground {
  position: absolute;
  left: 40%;
  top: 20%;
  width: 14%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; 
  padding: 3rem;
  border-radius: 2rem;
  background-color: rgba(255, 255, 255);
}
.itemshopLayout {
  align-items: center;
  justify-content: center;
}

.haveMoneyAnimal {
  position: absolute;
  left: 85%;
  top: 80%;
  width: 10%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row; 
  padding: 1rem;
  background-image: url("../../public/images/moneyBarAnimal.png");
  background-size: cover;
}

.moneyInfo {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 1.8rem;
  margin-right: 0.3rem;
}