.ItemShop {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-image: url("../../public/images/itemshopBackground.png");
  background-size: cover;
}

.itemshopBackground {
  position: absolute;
  left: 43%;
  top: 20%;
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; 
  padding: 2rem;
  border-radius: 2rem;
  background-color: rgba(255, 255, 255);
}
.itemshopLayout {
  align-items: center;
  justify-content: center;
}

.haveMoney {
  position: absolute;
  left: 80%;
  top: 90%;
  width: 14%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; 
  padding: 1rem;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255);
}