.LobbyBack {
  width: 100%;
  height: 100%;
}

.LobbyHomeButton {
  position: absolute;
}

.Lobby {
  width: 100%;
  height: 100%;
  background-image: url("../../public/images/lobby_background.jpeg");
  background-size: contain;
  background-attachment: fixed;
}

.LobbyGrid {
  display: flex;
  justify-content: center;
  align-items: center;
  
  padding: 3rem;
}

.LobbyCard:hover {
  background-color: rgba(255, 255, 255, 1);
}

.LobbyStat {
  width: 100%;
}