.LobbyBack {
  background-image: url("../../public/images/lobby_background.jpeg");
  background-size: cover;

  background-attachment: fixed;
}

.LobbyHomeButton {
  position: absolute;

}

.Lobby {
  width: 100vw;
  /* height: 100vh; */
}

.LobbyGrid {
  display: flex;
  justify-content: center;
  align-items: center;
  
  padding: 3rem;
}

.LobbyCard:hover {
  background-color: rgba(255, 255, 255, 1);
}

.LobbyStat {
  width: 100%;
}