.SurpriseBack {
  background-image: url("/public/images/surprise_background.jpeg");
  background-size: cover;
}

.Surprise {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

.SurpriseTitle {
  font-family: "paybooc";
  font-size: 3rem;
  font-weight: bold;
  color: white;
  padding-bottom: 5rem;
}

.SurpriseContent {
  font-family: "paybooc";
  font-size: 2rem;
  color: white;
  padding-bottom: 4rem;
}

.SurpriseWater {
  width: 10rem;
  height: 20rem;
}