#app {
  height: 100%;
}

#root {
  height: 100%;
}
html,
body {
  height: 100%;
}

body {
  background: #f2f2f2;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  box-shadow: 0px 5px 10px -5px;
  border-radius: 30px;
  width:400px !important;
  text-align: center;
  font-size: 18px;
  background: rgb(226, 226, 226);

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide_item{
  width: 400px;
  height: 250px;
}

.mySwiper {
  position: absolute;
  width: 100%;
  height: fit-content + 50px;
  padding-bottom: 100px;
  margin-top: -120px;
}

.swiper-wrapper {
  width: 100%;
  padding-bottom: 50px;
}

#title {
  float: left;
  color: white;
  font-size: 40px;
  margin-left : 50px;
  padding-top: 10px;

}

#title_bar {
  padding-top: 40px;
  background: #0D3D68;
  width: 100%;
  height: 220px;
}

#say_hi {
  color: white;
  float: right;
  font-size: 20px;
  padding-right: 50px;
  padding-top: 20px;
}

.swiper-pagination-bullet {
  width: 10px !important;
  height: 10px !important;
  background: transparent !important;
  border: 1px solid #0d3d68 !important;
  opacity: 1 !important;
}
.swiper-pagination-bullet-active {
  transition: width 0.5s !important;
  background: #0d3d68 !important ;
}

.recipe_container {
  overflow: auto;
  text-align: center;
}

.recipe {
  background: #0d3a62;
  margin: 30px 10% 30px 10%;
  width: 1000px;
  height: 300px;
  border-radius: 70px;
  display: inline-block;

}

.recipe_title {
  color: white;
  margin-top: 120px;
  margin-bottom: 10px;
  font-size: 25px;
}

.recipe_content {
  width: 50%;
  height: 300px;
  margin-right: 70px;
  float:right;
}
.recipe_ingredients {
  display: flex;
  height: 100px;
  justify-content: center;
}
.ingredient {
  color: white;
  height:fit-content;

}

.favorite_recipe_title {
  margin-top: 30px;
  font-size: 20px;
}
