@import url("https://fonts.googleapis.com/css2?family=Hahmlet&display=swap");

.mainbackground {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.domainstructure {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  height: 80%;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
  -webkit-box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
  border-radius: 19px;
  -webkit-border-radius: 19px;
  color: rgba(255, 255, 255, 0.898);
  justify-content: space-around;
  -webkit-user-select:none;
  -moz-user-select:none; 
  -ms-user-select:none; 
  user-select:none;
}

.domain {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Hahmlet", serif;
  font-size: 80px;
  /* padding-top: 5vh; */
  color: black;
  width: 70vw;
}

.loginlink {
  font-family: "Hahmlet", serif;
  font-size: 20px;
  /* padding-top: 300px; */
}

.registerlink {
  font-family: "Hahmlet", serif;
  font-size: 20px;
  padding-top: 10px;
}

.titleBanner {
  -webkit-user-select:none;
  -moz-user-select:none; 
  -ms-user-select:none; 
  user-select:none;
  -webkit-user-drag: none;
}
