@import url("https://fonts.googleapis.com/css2?family=Hahmlet&display=swap");

.add_body {
  font-family: "Hahmlet", serif;
}
.container {
  margin-top: 100px;
  margin-bottom: 100px;
  padding-top: 70px;
  padding-bottom: 50px;
  padding-left: 60px;
  padding-right: 60px;
  display: inline-block;
  width: 1000px;
  align-items: center;
  justify-content: center;
  height: fit-content;
  background-color: rgba(0, 0, 128, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(9.5px);
  -webkit-backdrop-filter: blur(9.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
  -webkit-box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
  border-radius: 22px;
  -webkit-border-radius: 22px;
  color: rgba(255, 255, 255, 0.6);
}

.container_text {
  color: white;
  font-size: 40px;
  font-weight: bold;
  width: fit-content;
  margin-left: 80px;
  /* margin-bottom: 50px; */
}

.add_body {
  text-align: center;
}


.procedures {
  background: rgba(211, 211, 211, 0);
  border-radius: 30px;
  padding: 30px 0 30px 0;
  margin-left: 45px;
  /* margin-right: 50px; */
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
  -webkit-box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  color: rgba(255, 255, 255, 0.6);
}

.image_title_memo {
    padding: 30px 10px 30px 10px;
    width: 800px;
  justify-content: center;
  display: flex;
  margin-top: 10px;
  margin-left: 45px;
  background-color: rgba(255, 255, 255, 0.25);
backdrop-filter: blur(3px);
-webkit-backdrop-filter: blur(3px);
border: 1px solid rgba(255, 255, 255, 0.18);
box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
-webkit-box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
border-radius: 30px;
-webkit-border-radius: 30px;
color: rgba(255, 255, 255, 0.75);
}

.title_memo {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
  -webkit-box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  color: rgba(255, 255, 255, 0.3);
  width: 450px;
  height: fit-content;
}

.title_favorite {
  /* margin-bottom: 30px; */
  position: relative;
  width: 450px;
  align-items: center;
  justify-content: center;
}

#is_favorite {
  color: white;
  background: transparent;
  border: none;
  position: absolute;
  padding: 3px 10px 3px 10px;
  font-size: 25px;
  margin-right: 350px;
  border-radius: 150px;
}

.memo_container {
  display: flex;
  flex-direction: column;
  background: rgba(211, 211, 211, 0);
  border-radius: 15px;
  width: 450px;
  height: 300px;
  padding: 20px 30px 20px 30px;

  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
  -webkit-box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  color: rgba(255, 255, 255, 0.6);
}


input:focus {
  outline: none;
}
textarea:focus {
  outline: none;
}
#input_memo {
  height: 70%;
  margin-top: 10px;
  display: block;
  background: transparent;
  border: none;
  text-align: top;
  font-size: 20px;
  color: rgb(98, 98, 98);
}


.ingredients {
  background: rgba(211, 211, 211, 0);
  border-radius: 30px;
  margin-top: 10px;
  margin-left: 45px;
  margin-bottom: 30px;
  padding: 30px 0 30px 0;
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;

  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
  -webkit-box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  color: rgba(255, 255, 255, 0.6);
}

.chooseFileButton {
    transform: translateY(170px);
}

#text_INGREDIENTS {
  margin-top: 10px;
  text-align: center;
  margin-bottom: 20px;
  color: rgb(96, 96, 96);

    /* margin-top: 100px;
    margin-bottom: 100px;
    padding-top: 70px;
    padding-bottom: 50px;
    padding-left: 60px;
    padding-right: 60px;
    display: inline-block;
    width: 1000px;
    align-items: center;
    justify-content: center;
    height: fit-content;
    background-color: rgba(0,0,128,0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 30px;

    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(9.5px);
    -webkit-backdrop-filter: blur(9.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
    -webkit-box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
    border-radius: 22px;
    -webkit-border-radius: 22px;
    color: rgba(255, 255, 255, 0.6); */
  
  }
  
  .container_text {
    color:rgb(95, 95, 95);
    font-size: 40px;
    font-weight: bold;
    width: fit-content;
    margin-left:80px;
    /* margin-bottom: 50px; */
  }
  
  .add_body {
    text-align: center;
  }
  
  #add_image{
    background: rgb(85, 85, 85);
    border-radius: 10px;
    height: 280px;
    width: 280px;
    margin-left: 0px;
    color:white;
  }
  
  
  .procedures {
    background: rgba(196, 196, 196, 0.582);
    border-radius: 30px;
    padding: 30px 0 30px 0;
    margin-left: 45px;
    /* margin-right: 50px; */
    width: 800px;
    display:flex;
    flex-direction: column;
    justify-content: center;

    background-color: rgba(255, 255, 255, 0.2);
backdrop-filter: blur(24px);
-webkit-backdrop-filter: blur(24px);
border: 1px solid rgba(255, 255, 255, 0.18);
box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
-webkit-box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
border-radius: 25px;
-webkit-border-radius: 25px;
color: rgba(255, 255, 255, 0.6);
  
  }
  
  .image_title_memo{
    justify-content: center;
    display: flex;
    margin-top: 10px;
    
  }
  
  .title_memo {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
    -webkit-box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    color: rgba(255, 255, 255, 0.3);
    width: 350px;
    height: fit-content;
  }
  
  .title_favorite {
    /* margin-bottom: 30px; */
    position: relative;
    width: 450px;
    align-items: center;
    justify-content: center;
  }

  #is_favorite {
      color: white;
      background: transparent;
      border: none;
      position:absolute;
      padding: 3px 10px 3px 10px;
      font-size: 25px;
      margin-right: 350px;
      border-radius: 150px;

  }
  
  .memo_container {
    display: flex;
    flex-direction: column;
    background: rgb(101, 101, 101);
    border-radius: 15px;
    width:350px;
    height: 240px;
    padding: 20px 30px 20px 30px;
    

    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
    -webkit-box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    color: rgba(255, 255, 255, 0.6);
  }
  
  #input_title {
    height:40px;
    width:300px;
    margin: 20px 0 20px 0 ;
    border: none;
    background: white;
    border-radius: 100px;
    color:rgb(79, 79, 79);
    padding: 0 20px 0 60px;
    transform: translateX(-50px);
    font-size: 22px;
  }

  input:focus {outline:none;}
  textarea:focus {outline:none;}
  #input_memo {
    height: 70%;
    margin-top: 10px;
    display: block;
    background: transparent;
    border: none;
    text-align: top;
    color:rgb(98, 98, 98);
  }
  
  #text_MEMO {
    font-size: 25px;
    width : fit-content;
    color:rgb(98, 98, 98);
  }
  
  .ingredients {
    background: rgba(211, 211, 211, 0.438);
    border-radius: 30px;
    margin-top: 30px;
    margin-left: 45px;
    margin-bottom: 30px;
    padding : 30px 0 30px 0;
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;

    background-color: rgba(255, 255, 255, 0.2);
backdrop-filter: blur(24px);
-webkit-backdrop-filter: blur(24px);
border: 1px solid rgba(255, 255, 255, 0.18);
box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
-webkit-box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
border-radius: 25px;
-webkit-border-radius: 25px;
color: rgba(255, 255, 255, 0.6);
  }
  #text_INGREDIENTS {
    margin-top: 10px;
    text-align: center;
    margin-bottom: 20px;
    color:rgb(96, 96, 96);
  
    font-size: 25px;
  }
  
  #text_PROCEDURES {
    margin-top: 10px;
    text-align: center;
    color:rgb(96, 96, 96);
  
    font-size: 25px;
  }
  #input_ingredient_name{
    border:none;
    height: fit-content;
  }

  #input_ingredient_amount{
      border:none;
}

#ingredient_add_button {
    height: 10px;
    margin-bottom: 5px;
}
  
  .input_name_amount {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 40px;
    width: 400px;
    margin-bottom: 20px;
    background: white;
    padding: 5px 0 5px 0;
    border-radius: 100px;
    border: none;
    color: rgb(88, 88, 88);
  }
  
  .added_ingredients {
    font-size: 15px;
    display: flex;
    align-items: center;
    flex-wrap:wrap;
    justify-content: center;
    width: 700px;
    height:fit-content;
  }
  
  .item_ingredient {
    border-radius: 100px;
    /* background:linear-gradient(100deg, rgb(201, 78, 119) 0%, rgb(245, 139, 139) 100%); */
    margin : 10px;
    padding: 10px 20px 10px 20px;
    border-width: 3px;
    border-color:rgb(255, 240, 240);
    border-style: solid;
    font-weight: 700;
    font-size: 16px;
    color: white;
    background:rgb(72, 91, 149);
    
    /* background-color: rgb(255, 157, 157);
    box-shadow: rgb(190, 104, 104) 12px 12px 24px 0px inset, rgb(212, 170, 170) -12px -12px 24px 0px inset;
    -webkit-box-shadow: rgb(208, 107, 107) 10px 10px 20px 0px inset, rgb(255, 182, 182) -6px -6px 12px 0px inset;
    border-radius: 200px;
    -webkit-border-radius: 200px; */
  
  }
  
  .input_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .added_procedures {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* transform: translateX(-40px); */
  }
  
  .item_procedure {
    display: flex;
    align-items: center;
    background:rgb(255, 255, 255);
    border-radius: 10px;
    padding:0 10px 0 10px;
    font-size: 25px;
    margin: 10px;
    width: 700px;
    
  }

  #added_image {
      position:absolute;
      border-radius: 10px;
      /* z-index: 10; */
      transform: translateX(0px);
      object-fit: cover;
  }
  
  .procedure_index {
    background: linear-gradient(120deg, rgb(114, 116, 255) 0%, rgb(141, 171, 255) 100%);
    /* border-radius: 50%; */
    border-radius: 10px;
    margin-right: 20px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: aliceblue;
  }
  
  .procedure_text {
    background:rgb(255, 255, 255);
    word-break: normal;
    word-wrap:break-word ;
    width: 90%;
    border-radius: 10px ;
    padding: 10px 10px 10px 5px;
    color: rgb(79, 79, 79);
  
    text-align: left;
  }
  
  #input_procedures {
    margin-top: 10px;
    background: white;
    width: 500px;
    height: 40px;
    border-radius: 100px;
    margin-left: 150px;

  }
  
  #input_procedure_text {
    color:rgb(79, 79, 79);
    border: none;
    width: 400px;
  }

  .Add_text_box {
      margin-bottom: 30px;
  }
  
  #add_button {
    color: white;
    font-size: 20px;
    margin-top: 70px;
    margin-left: 340px;
    width: 200px;
    padding: 10px;
    background: linear-gradient(30deg, rgb(72, 91, 149) 0%, rgb(118, 144, 190) 100%);
    border-radius: 10px;
  }

  #procedure_add_button {
      color:rgb(86, 86, 86);
      margin-bottom: 5px;
  }
