@import url("https://fonts.googleapis.com/css2?family=Hahmlet&display=swap");

html,
body {
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #c9d6ff 0%, #e2e2e2 100%) !important;
  background-color: linear-gradient(90deg, #c9d6ff 0%, #e2e2e2 100%) !important;
}
.App {
  background: linear-gradient(90deg, #c9d6ff 0%, #e2e2e2 100%);
  height: fit-content;
}
.detail_body {
  width: 100%;
  height: 100%;
}
.recipebody {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-left: 60px;
  margin-top: -20px;
}

.recipemain {
  color: rgb(90, 90, 90);
  font-family: "Hahmlet", serif;
  font-size: 40px;
  font-weight: 700;
  text-align: left;
}

.versionbutton {
  font-family: "Hahmlet", serif;
  margin-left: 30px;
  margin-top: 10px;
}

.ant-btn {
  border-radius: 30px !important;
  background: rgba(255, 255, 255, 0.34) !important;
}

.gotochart {
  font-family: "Hahmlet", serif;
}

.ingredientbody {
  font-size: 15px;
  margin: 10px 90px 10px 90px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  width: 700px;
  height: fit-content;
}

.ingredientitem {
  font-family: "Hahmlet", serif;
  border-radius: 100px;
  /* background:linear-gradient(100deg, rgb(201, 78, 119) 0%, rgb(245, 139, 139) 100%); */
  margin: 10px;
  padding: 10px 20px 10px 20px;
  /* border-width: 3px;
  border-color:rgb(255, 240, 240);
  border-style: solid; */
  font-weight: 700;
  font-size: 16px;
  color: white;
  background-color: rgb(72, 91, 149);
}

.upstructure {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.picture {
  font-size: 25px;
}

.memobody {
}
.memomain {
  text-align: left;
  font-family: "Hahmlet", serif;
  font-size: 20px;
  margin: 10px 20px 10px 20px;
  color: rgb(90, 90, 90);
}

.memotext {
  text-align: left;
  font-family: "Hahmlet", serif;
  font-size: 20px;
  color: rgb(90, 90, 90);
  margin: 0 20px 10px 20px;
}

/* .procedurebody {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
} */

.procedureindex {
  font-family: "Hahmlet", serif;
  /* background: linear-gradient(
    120deg,
    rgb(142, 114, 255) 0%,
    rgb(255, 141, 141) 100%
  ); */
  /* border-radius: 50%; */
  background-color: #487dad;
  border-radius: 10px;
  margin-right: 20px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: aliceblue;
}

.procedureitem {
  font-family: "Hahmlet", serif;
  background: rgb(255, 255, 255);
  word-break: normal;
  word-wrap: break-word;
  width: 90%;
  border-radius: 10px;
  padding: 10px 10px 10px 5px;
  color: rgb(79, 79, 79);

  text-align: left;
}

.fileContainer {
  background: transparent;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  margin: 0;
}

.image_add_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.detail_body {
  margin-top: 130px;
  margin-bottom: 130px;
  padding-top: 70px;
  padding-bottom: 50px;
  padding-left: 60px;
  padding-right: 60px;
  display: inline-block;
  width: 1000px;
  align-items: center;
  justify-content: center;
  height: fit-content;
  background-color: rgba(0, 0, 128, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 30px;

  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(9.5px);
  -webkit-backdrop-filter: blur(9.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
  -webkit-box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
  border-radius: 22px;
  -webkit-border-radius: 22px;
  color: rgba(255, 255, 255, 0.6);
}

.memobody {
  display: flex;
  flex-direction: column;
  background: rgb(101, 101, 101);
  border-radius: 15px;
  width: 450px;
  margin-left: 50px;
  height: 250px;
  padding: 20px 30px 20px 30px;

  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
  -webkit-box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  color: rgba(255, 255, 255, 0.6);
}

.picture {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
  /* background: rgb(75, 75, 75); */
  border-radius: 10px;

  background-color: rgba(28, 28, 28, 0.25);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
  -webkit-box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  color: rgba(255, 255, 255, 0.75);
}

.ingredient_wrapper {
  background: rgba(211, 211, 211, 0);
  border-radius: 30px;
  margin-top: 50px;
  margin-left: 40px;
  margin-bottom: 50px;
  width: 800px;
  height: fit-content;
  display: flex;

  justify-content: center;
  justify-items: center;

  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
  -webkit-box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  color: rgba(255, 255, 255, 0.6);
}

.procedure_wrapper {
  background: rgba(196, 196, 196, 0.582);
  border-radius: 30px;
  padding: 30px 0 30px 0;
  margin-left: 41px;
  /* margin-right: 50px; */
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
  -webkit-box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  color: rgba(255, 255, 255, 0.6);
}

.procedurebody {
  display: flex;
  align-items: center;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 0 10px 0 10px;

  font-size: 25px;
  margin: 10px 46px;
  width: 700px;
}

.versionbutton {
}

.buttons {
  position: absolute;
}

#inserted_image {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}

.gotochart {
  width: 70px;
}

.delete_all {
  width: 100px;
}
.delete_this {
  width: 100px;
}
.add_version {
  width: 100px;
}
.gotochart::after {
  margin: 10px;
  padding-left: 1px;
  content: "";
  top: 0;
  right: 0;
  width: 1px;
  height: 10px;
  background-color: #333;
}

.delete_all::after {
  margin: 10px;
  padding-left: 1px;
  content: "";
  top: 0;
  right: 0;
  width: 1px;
  height: 10px;
  background-color: #333;
}
.delete_this::after {
  margin: 10px;
  padding-left: 1px;
  content: "";
  top: 0;
  right: 0;
  width: 1px;
  height: 10px;
  background-color: #333;
}

.floating_menu_button {
  /* width: 300px; */
  position: absolute;
  transform: translate(840px, -17px);
}
.menu_button {
  color: rgb(54, 86, 145);
}
